{% extends 'base.html.twig' %}

{% block navbar %}
    <navbar class="flex justify-end">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </navbar>
{% endblock %}