:root {
    --violet: #3F3351;
    --salmon: #E9A6A6;
    --azul-intenso: #1F1D36;
    --fucsia: #864879;
    --bordo: #B24C63;
    --verde: #69D1C5;
    --poppins: 'Poppins', sans-serif;
    --raleway: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.nav {
    background-color: var(--violet);
    box-shadow: 0px 4px 8px rgba(89,73,30, 0.50);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__toggle {
    cursor: pointer;
}

.material-icons {
    color: white;
    font-size: 30px;
}

.close {
    display: none;
}

.nav__checkbox {
    display: none;
}

.nav__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
}

li{
    list-style: none;
}

li.nav_menu__item{
    display: none;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.nav__menu:first-child {
    display: block;
}

.logo__img{
    width: 70px;
    height: auto;
}
 
#nav__checkbox:checked ~ section.list__container li.nav_menu__item {
    display:block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
    display:block;
    z-index: 1;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
    display:none;
}

#nav__checkbox:checked section.hamburger_menu__container {
    display:block;
}

/* .hamburger_menu__container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 400px;
    background-color: salmon;
} */

.header__container {
    margin-left: 37px;
    margin-top: 39px;
    margin-bottom: 53px;
}

.title {
    font-family: Raleway;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
    color: var(--fucsia);
}

.main__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__container {
    width: 80%;
    height: auto;
}

.product__container {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.product__img {
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0 0;
    margin-bottom: 13px;
}

.product_info__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product__name {
    font-family: var(--poppins);
    color: var(--azul-intenso);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 29px;
}

.product__description {
    font-family: var(--poppins);
    color: var(--azul-intenso);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.1rem;
    margin-bottom: 33px;
}

.product__price {
    font-family: var(--poppins);
    color: var(--azul-intenso);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 32px;
    align-self: flex-end;
}

.info__btn {
    font-family: var(--poppins);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    background-color: var(--fucsia);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 19px;
    text-decoration: none;
    text-align: center;
}

/* Desktop view */

@media only screen and (min-width: 560px){
    .nav__toggle {
        display: none;
    }

    .nav__menu {
        flex-direction: row;
    }

    li.nav_menu__item {
        display: block;
    }
}



